version: 2
updates:
  - package-ecosystem: github-actions
    schedule:
      interval: monthly
    directory: /
    groups:
      gha-deps:
        patterns:
          - "*"
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: monthly
    groups:
      go-deps:
        patterns:
          - "*"
