name: build
on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  go:
    name: go
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: build
        run: make build
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    needs: [go]
    steps:
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version-file: .tool-versions
  docker:
    name: docker
    runs-on: ubuntu-latest
    needs: [go]
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
