name: build
on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  build:
    name: go
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: build
        run: make build
